<div id=":1e2" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
  <div id=":1ei" class="a3s aiL msg1023035840440560269">
    <div
      style="
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.005em;
        color: #091e42;
        line-height: 20px;
        background: #ffffff;
        margin-left: 8px;
        margin-right: 8px;
      "
    >
      <span
        style="
          display: none !important;
          font-size: 1px;
          color: #ffffff;
          line-height: 1px;
          max-height: 0px;
          max-width: 0px;
          opacity: 0;
          overflow: hidden;
        "
        >Hi Hoang Van Binh, you're nearly there! Click below to
        <span class="il">verify</span> that we got the right email for
        you.</span
      >
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td align="center">
              <div style="max-width: 520px; margin: 0 auto">
                <div
                  style="
                    vertical-align: top;
                    text-align: left;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                      Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
                      Helvetica Neue, sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: -0.005em;
                    color: #091e42;
                    line-height: 20px;
                  "
                >
                  <div
                    style="
                      padding-top: 30px;
                      padding-bottom: 20px;
                      vertical-align: top;
                      text-align: center;
                    "
                  >
                    <a href="#" target="_blank">Career Website</a>
                  </div>
                  <hr
                    style="
                      margin-top: 4px;
                      margin-bottom: 24px;
                      border: 0;
                      border-bottom: 1px solid #c1c7d0;
                    "
                  />
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td align="center">
                          <img
                            src="https://ci4.googleusercontent.com/proxy/c-ZnjN8qvtu8l_OEizK8mFLIVr9DHtfiLE5TAcrF6zyH4UEx7WsSsYP2ovwjQXXFUhGDD3uG8eszfrR_EKz3CE6Ty8n7mtKqtaPzIHIpFKdN6aGICYwszYV7nWbAV4Q8N0fMey3MUbwO=s0-d-e1-ft#https://id-mail-assets.atlassian.com/template/aid_signup_welcome_verify_adg/people.png"
                            alt=""
                            height="175"
                            border="0"
                            class="CToWUd a6T"
                            data-bit="iit"
                            tabindex="0"
                          />
                          <div
                            class="a6S"
                            dir="ltr"
                            style="opacity: 0.01; left: 638px; top: 268px"
                          >
                            <div
                              id=":1xt"
                              class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                              role="button"
                              tabindex="0"
                              aria-label="Tải xuống tệp đính kèm "
                              data-tooltip-class="a1V"
                              data-tooltip="Tải xuống"
                            >
                              <div class="akn">
                                <div class="aSK J-J5-Ji aYr"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h1
                    style="
                      margin-bottom: 0;
                      font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                        Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
                        Helvetica Neue, sans-serif;
                      font-size: 24px;
                      font-weight: 500;
                      letter-spacing: -0.01em;
                      color: #172b4d;
                      line-height: 28px;
                      margin-top: 40px;
                    "
                  >
                    ${subject}
                  </h1>
                  <p
                    style="
                      font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                        Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
                        Helvetica Neue, sans-serif;
                      font-size: 14px;
                      font-weight: 400;
                      letter-spacing: -0.005em;
                      color: #091e42;
                      line-height: 20px;
                      margin-top: 12px;
                    "
                  >
                    <a style="text-decoration: none; color: inherit"
                      >Dear ${name},</a
                    >
                  </p>
                  <p
                    style="
                      font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                        Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
                        Helvetica Neue, sans-serif;
                      font-size: 14px;
                      font-weight: 400;
                      letter-spacing: -0.005em;
                      color: #091e42;
                      line-height: 20px;
                      margin-top: 12px;
                    "
                  >
                    ${content}
                  </p>
                  <p
                    style="
                      font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                        Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans,
                        Helvetica Neue, sans-serif;
                      font-size: 14px;
                      font-weight: 400;
                      letter-spacing: -0.005em;
                      color: #091e42;
                      line-height: 20px;
                    "
                  >
                    Here is your code: ${code}
                  </p>

                  <hr
                    style="
                      margin-top: 24px;
                      margin-bottom: 24px;
                      border: 0;
                      border-bottom: 1px solid #c1c7d0;
                    "
                  />
                  <div
                    style="
                      color: #707070;
                      font-size: 13px;
                      line-height: 19px;
                      text-align: center;
                      margin-top: 10px;
                    "
                  >
                    <table
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                      bgcolor="#ffffff"
                      align="center"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            align="center"
                            style="
                              padding-top: 10px;
                              line-height: 18px;
                              text-align: center;
                              font-weight: none;
                              font-size: 12px;
                              color: #505f79;
                            "
                          >
                            <span
                              >This message was sent to you by Career
                              Website</span
                            ><br />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <img
        border="0"
        width="1"
        height="1"
        alt=""
        src="https://ci3.googleusercontent.com/proxy/XE9egSd35rOL9dur152qR6Uo2keIKnM_uItkRCLupziGIIufUmDIKDtoUewCvsVYpTpUYjl8eGbDcUaq4XntPlX3y35hTokQiD6EjBJ1R4bw2ZWzt-huMXGpsjrGBWyBwvYwW9dhFqTkXjUuTmNIe5-4o6urH1fVgnrGDFOpQ1h3Ny6fSeOgQoQSu128xyXOjo4UKUQPM7t6d96wJP4JPT_bwOt-dg5fxmbhE44WlZZfj3wXRtwi0Ogls6A=s0-d-e1-ft#http://atlassian.et.e.sparkpost.com/q/BPuVXap4CbuWXgC0fBw0_A~~/AAAAAQA~/RgRkj7t5PlcLYXRsYXNzaWFudXNCCmKYeTatYuxmd39SHjE5MTEwMTcwQHN0dWRlbnQuaGNtdXRlLmVkdS52blgEAAAABw~~"
        class="CToWUd"
        data-bit="iit"
      />
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
    <div class="adL"></div>
  </div>
</div>
